target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.fodg#
/src/test/resources/scenarios/02/actual-result/
/src/test/resources/scenarios/03/actual-result/21040/
/src/test/resources/scenarios/03/actual-result/22332/
/src/test/resources/scenarios/03/actual-result/25440/
/src/test/resources/scenarios/03/actual-result/26541/
/src/test/resources/scenarios/03/actual-result/32428/
/src/test/resources/scenarios/03/actual-result/45822/
/src/test/resources/scenarios/03/actual-result/59774/
/src/test/resources/scenarios/03/actual-result/61367/
/src/test/resources/scenarios/03/actual-result/66768/
/src/test/resources/scenarios/03/actual-result/68408/
/src/test/resources/scenarios/03/actual-result/rdf.sql
